<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Realty Wall Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Realty Wall">
    <meta name="author" content="CARTES">


    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            padding-top: 0px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href='css/bootstrap-custom.css' rel='stylesheet'>
    
</head>

<body>

    <div class="container-fluid">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Realty Wall</a>
                    <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
                        <ul class="nav">
                            <li class="active"><a href="#">Search</a>
                            </li>
                            <li><a href="#">My Shortlist</a>
                            </li>
                            <li><a href="#">Profile</a>
                            </li>
                            <li><a href="#">My Posts</a>
                            </li>
                            <li><a href="#">Create a Post</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse2">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand">Search</a>
                    <div class="nav-collapse navbar-responsive-collapse2 collapse" style="height: 0px;">
                        <ul class="nav">
                            <form class="navbar-form pull-left">
                                <input type="text" class="span2" placeholder="Rent or Sale">
                                <input type="text" class="span2" placeholder="District">
                                <input type="text" class="span2" placeholder="Max Budget">
                                <input type="text" class="span2" placeholder="Min Bedroom">
                                <button type="submit" class="btn">Search</button>
                                <a class="btn" href="#">Advanced</a>
                            </form>

                        </ul>

                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!--TEMPLATE ABOVE-->


        <!--TEMPLATE BELOW-->
        <hr>

        <footer>
            <p>Realty Wall</p>
        </footer>
    </div>
    <iframe width="268" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=hillcrest+arcadia+singapore&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.90509,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Hillcrest+Arcadia,+Singapore&amp;t=m&amp;ll=1.334976,103.809385&amp;spn=0.025742,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=hillcrest+arcadia+singapore&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.90509,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Hillcrest+Arcadia,+Singapore&amp;t=m&amp;ll=1.334976,103.809385&amp;spn=0.025742,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>